<!-- footer Start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="footer-content">
                    <p>
                        &copy; 2025 Bristol Lodge Causeway Seventh-day Adventist
                        Church
                    </p>
                    <p>
                        Bristol Lodge Causeway is a website of the Seventh-day
                        Adventist church in Bristol, UK.
                    </p>
                    <p>
                        Seventh-day Adventists are devoted to helping people
                        understand the Bible to find freedom, healing, and hope
                        in Jesus.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-links">
                    <h4>Learn More:</h4>
                    <ul>
                        <li>
                            <a href="https://adventist.org" target="_blank"
                                >Adventist.org</a
                            >
                        </li>
                        <li>
                            <a href="https://adra.org" target="_blank">ADRA</a>
                        </li>
                        <li>
                            <a href="https://awr.org" target="_blank"
                                >Adventist World Radio</a
                            >
                        </li>
                        <li>
                            <a href="https://hopetv.org" target="_blank"
                                >Hope Channel</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
